%nav.forum_navs
  %ul
    - @parent_forums.each do |pforums|
      %li.pie
        %h2{:class => "png #{pforums.css_name}"}
          %strong= pforums.name
        - pforums.children.each do |sforums|
          = link_to sforums.name, forum_path(sforums)
