$('#topics').html("#{escape_javascript(render(:partial => @topics))}");
$('.apple_pagination').html("#{escape_javascript(will_paginate(@topics, :container => false, :remote => true))}");
$('.apple_pagination a').attr('data-remote', 'true');
$(document).scrollTop(0);
