= sex_link_to "确定", "javascript:void(0)", :class => "green-button"
.success_msg.pie
  %p hello
.error_msg.pie
  %p hello
.warning_msg.pie
  %p hello
.info_msg.pie
  %p hello
.test
  %button{:class => "blue"} 很好啊
= sex_link_to "确定", "#register_box", :class => "green-button", :rel => "mdlgbox"
= sex_button_tag "Button", :class => "red-button", :id => "btn_box"

- content_for :bottom do
  #register_box.dialog-box
    .dialog-content
      .dialog-message register 
      %a{:href => "javascript:void(0)", :class => "dialog-close-button"}
        %img{:src => "/images/closelabel.png"}
  :javascript
    $(document).ready(function(){
      $('a[rel*=mdlgbox]').mdlg_box();
      $('#btn_box').click(function(){
        //$.mdlg_box({div: '#box'});
        $.mdlg_box("hello");
      });
    });
