<div id="lsider">
	<%= render :partial => "widget/app_list"%>
</div>
<div id="main">
	<div class="main_top">
		<h2 class="fl">活动列表</h2>
	</div>
	<div class="clear"></div>
	<div class="main_content table pl20 pr20">
		<ul>
			<li class="title"><span class="titles">标题</span><span class="operates">操作</span></li>
			<%= render @activities %>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="flickr_pagination"><%=h will_paginate @activities, :prev_label=>'上一页', :next_label=> '下一页' %></div>
</div>
<div class="clear"></div>