#setting_topmain
  #setting_topmain_inner.container_16
    %h2
      = current_site.name
      后台管理
    %ul.tabnav
      %li
        = link_to "站点设置", admin_sites_path, :class => ("active" if controller.class == Admin::SitesController)
      %li= link_to "论坛设置", admin_forums_path, :class => ("active" if controller.class == Admin::ForumsController)
