<div id="app_list">
	<ul>
		<li class="add"><%= link_to "创建活动", new_admin_activity_path %></li>
		<li class="database"><%= link_to "我发布的活动", admin_activities_path %></li>
		<li class="add"><%= link_to "创建电影" %></li>
		<li class="film"><a href="#">我发布的电影</a></li>
		<li class="group"><a href="#">管理小组</a></li>
		<li class="comment"><a href="#">帖子管理</a></li>
		<li class="email"><a href="#">我的消息</a></li>
	</ul>
</div>
<div class="clear"></div>
