#dialog-message-box.dialog-box
  .dialog-content
    .dialog-message
    %a{:href => "javascript:void(0)", :class => "dialog-close-button"}
      %img{:src => "/images/closelabel.png", :class => "png"}
