- if flash[:error]
  #flash_message.msg.error= flash[:error]
- if flash[:success]
  #flash_message.msg.success= flash[:success]
- if flash[:warn]
  #flash_message.msg.warning= flash[:warn]
- if flash[:notice]
  #flash_message.msg.info= flash[:notice]
