<% if flash[:error] %>
	<div id="flash_message" class="msg error"><%= flash[:error] %></div>
<% end %>
<% if flash[:success] %>
	<div id="flash_message" class="msg success"><%= flash[:success] %></div>
<% end %>
<% if flash[:warn] %>
	<div id="flash_message" class="msg warning"><%= flash[:warn] %></div>
<% end %>
<% if flash[:notice] %>
	<div id="flash_message" class="msg info"><%= flash[:notice] %></div>
<% end %>