- if flash[:error]
  #flash_message.error_msg= flash[:error]
- if flash[:success]
  #flash_message.success_msg= flash[:success]
- if flash[:warn]
  #flash_message.warning_msg= flash[:warn]
- if flash[:notice]
  #flash_message.info_msg= flash[:notice]
