#setting_topmain
  #setting_topmain_inner.container_16
    %h2
      = image_tag @user.face_url||@user.photo(:s48), :width => 48, :height => 48
      帐号设置
    %ul.tabnav
      %li
        = link_to "个人资料", edit_setting_account_path, :class => ("active" if controller.action_name == "edit")
      %li= link_to "修改密码", change_password_setting_account_path, :class => ("active" if controller.action_name == "change_password")
      %li
        %a{:href => "#"} 其它设置
