<div id="sider">
	<%= render :partial => "widget/app_list"%>
</div>
<div id="main">
	<div class="main_top">
		<h2 class="fl">编辑活动</h2><span class="desc fl">（带<em>*</em>为必填项）</span>
	</div>
	<div class="clear"></div>
	<div class="main_content form">
		<%= render "form" %>
	</div>
</div>
<div class="clear"></div>

<%= link_to 'Show', @activity %> |
<%= link_to 'Back', activities_path %>
